<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<aside th:fragment="sidebar" id="sidebar" class="sidebar">

    <nav class="menu">

        <!-- ================= COMMUN ================= -->
    
        <a th:href="@{/profile}" class="menu-item">
            👤 Mon profil
        </a>

        <!-- ================= SUPER ADMIN ================= -->
        <div sec:authorize="hasRole('SUPER_ADMIN')">

            <div class="menu-section">Administration globale</div>

            <a th:href="@{/super-admin/bibliotheques}" class="menu-item">
                🏛️ Bibliothèques
            </a>

            <a th:href="@{/super-admin/admins}" class="menu-item">
                👑 Administrateurs
            </a>
        </div>

        <!-- ================= ADMINISTRATEUR ================= -->
        <div sec:authorize="hasRole('ADMIN')">

            <div class="menu-section">Administration</div>

            <!-- ✅ Dashboard ADMIN -->
            <a th:href="@{/admin/dashboard}" class="menu-item">
                📊 Dashboard
            </a>

            <a th:href="@{/admin/bibliothecaires}" class="menu-item">
                👨‍🏫 Bibliothécaires
            </a>

       
        </div>

        <!-- ================= BIBLIOTHÉCAIRE ================= -->
        <div sec:authorize="hasRole('BIBLIOTHECAIRE')">

            <div class="menu-section">Gestion bibliothèque</div>

            <a th:href="@{/bibliothecaire/prets}" class="menu-item">
                🔄 Prêts
            </a>

            <a th:href="@{/ressources}" class="menu-item">
                📦 Ressources
            </a>
        </div>

        <!-- ================= LECTEUR ================= -->
        <div sec:authorize="hasRole('LECTEUR')">


<div th:if="${#authorization.expression('hasRole(''LECTEUR'')')}">

    <div class="menu-section">Mon espace</div>

    <a th:href="@{/catalogue}" class="menu-item">📚 Catalogue</a>

    <a th:href="@{/lecteur/prets}" class="menu-item">
        📖 Mes prêts & réservations
    </a>
</div>
        


    </nav>
</aside>

</body>
</html>
