<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un administrateur | BiblioNet</title>

    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<!-- HEADER -->
<div th:replace="layout/header :: header"></div>

<!-- SIDEBAR -->
<div th:replace="layout/sidebar :: sidebar"></div>

<main class="content">
    <!-- ALERT SUCCESS -->
    <div th:if="${success}" class="alert alert-success">
        <span th:text="${success}"></span>
    </div>

    <!-- ALERT ERROR -->
    <div th:if="${error}" class="alert alert-error">
        <span th:text="${error}"></span>
    </div>

    <!-- le reste du formulaire -->
    <!-- PAGE HEADER -->
    <div class="page-header">
        <div>
            <h2>Ajouter un administrateur</h2>
            <p class="text-muted">
                Création d’un compte administrateur et affectation à une bibliothèque
            </p>
        </div>
    </div>

    <!-- FORM CARD -->
    <div class="card form-card">

<form th:action="@{/super-admin/admins/add}" method="post">

            <div class="form-grid">

                <div class="form-group">
                    <label>Nom</label>
                    <input type="text" name="nom" required>
                </div>

                <div class="form-group">
                    <label>Prénom</label>
                    <input type="text" name="prenom" required>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" required>
                </div>

                <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password" name="motDePasse" required>
                </div>

                <div class="form-group">
                    <label>Rôle</label>
                    <input type="text" value="ADMIN" disabled>
                </div>

                <div class="form-group">
                    <label>Statut</label>
                    <select name="actif">
                        <option value="true">Actif</option>
                        <option value="false">Inactif</option>
                    </select>
                </div>

       

            </div>

            <!-- ACTIONS -->
            <div class="form-actions">
                <a th:href="@{/super-admin/admins}" class="btn btn-secondary">
                    Annuler
                </a>
                <button type="submit" class="btn btn-primary">
                    Enregistrer
                </button>
            </div>

        </form>

    </div>

</main>

<!-- FOOTER -->
<div th:replace="layout/footer :: footer"></div>

</body>
</html>
