name: CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # 1️ Build de l'application
      - name: Build application
        run: mvn clean package -DskipTests

      # 2️ Login Docker Hub
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      # 3️ Build image Docker
      - name: Build Docker image
        run: docker build -t ayetayadi01/gestion-bibliotheque:1.0 .

      # 4️ Push image Docker Hub
      - name: Push Docker image
        run: docker push ayetayadi01/gestion-bibliotheque:1.0

      # 5️ Déploiement sur la VM
      - name: Deploy on Azure VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            cd /opt/gestion-bibliotheque
            ./deploy.sh
